@import "public/font.css";
@import "reset.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family:  'Noto Sans KR', sans-serif;
}

@layer utilities {
  @variants responsive {
    .masonry {
      column-count: 3;
      column-gap: 1.5em;
    }
    .break-inside {
      break-inside: avoid;
    }
  }
  .h-52 {
    height: 52px;
  }
  .h-580 {
    height: 580px;
  }
  .w-386 {
    width: 386px;
  }
  ml-24px {
    margin-left: 24px;
  }
  ml-48px {
    margin-left: 48px;
  }
  ml-359px {
    margin-left: 359px;
  }
}


.slick-prev:before {
  left: 3% !important;
  z-index: 1;
  color: black !important;
}
.slick-next:before {
  right: 3% !important;
  z-index: 1;
  color: black !important;
}
